/* CSS for Places style */
.places {
	text-align: center;
}
.places h1 {
	text-align: left;
	font-size: 30px;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 2px;
}
.places article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
}
.places article h2 {
	font-size: 30px;
	text-align: center;
}